<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
    <script src="/js/main.js"></script>
    
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>

<body>

    <h1>lol</h1>

    <p id="demo">
        This is me testing out a lil html file
    </p>

    <button type="button" onclick="myFunction()">
        Try it
    </button>

</body>

</html>